.section3{
    background-color: var(--primary-desaturated-blue);
    height: 45vh;
    /* margin-top: 1rem; */
    margin-inline: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 3rem;
    width:100%;
}

@media (max-width : 768px) {
    .section3{
        height: 130vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         border: 1px solid red;
    }
}

.section3-wrapper{
    
    margin-inline: auto;
    /* border: 1px solid rgb(0, 170, 255); */
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    width: 90%;
}

@media (max-width : 768px) {
    .section3-wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }
}

.getEarly{
    
    /* margin-left: 4rem; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 1rem;
    width: 40rem;
    
}

@media (max-width : 768px) {
    .getEarly{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }
}

.getEarly h2{
    color: var(--neutral-light-grayish-blue);
}



.getEarly p {
    color: var(--neutral-light-grayish-blue);
}

@media (max-width : 768px) {
    .getEarly p{
        width: 10rem;
    }
}
.getStarted{
    /* margin-right: 4rem; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction:column;
    
    gap: 0.5rem;
    width: 50rem;
}

@media (max-width : 768px) {
    .getStarted{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }
}


.getStarted-text{
    height:2.5rem;
    width: 35rem;
}

.getStarted-submit{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    border-radius: 0.3rem;
    border: none;
    line-height: 1.5 ;
    width: 220px;
    height:50px ;
    color: var(--neutral-light-grayish-blue);
    background: var( --accent-bright-blue);
}